<p id="notice"><%= notice %></p>

<p>
  <b>Project name:</b>
  <%= @board.project_name %>
</p>

<p>
  <b>Sharing:</b>
  <%= @board.sharing %>
</p>


<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
